<!DOCTYPE html>
<html>
  <body>
      <header><h1>"SOW What" Quizzes</h1></header>
   <h2>
      <ul>
       <li>Animal Quiz<link href=" " /> </li> 
       <br>
      <li>Funny Quiz<link hred=" " /> </li>
     </ul>
     </h2>
     <div class = "homebackground1"></div>
     <div class = "homebackground2"></div>
     <div class = "homebackground3"></div>
     <div class = "homebackground4"></div>
     <div class = "homebackground5"></div>
     <div class = "homebackground6"></div>
     <div class = "homebackground7"></div>
     <div class = "homebackground8"></div>
  </body>
  
</html>

