<! DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <title>"Would you Rather?" type="text/css" href="css/style.css">
 </head>
 <body>
   <div class="container">
     <h1 class="header">Would you Rather?</h1>

     <h4 class="caption">Let's see what you pick!</h4>
     <div class="question">
     <form action="/results" method="post">
     <h2>Would you rather be...</h2>
       <input type="radio" name="speed" value="1">be rich and ugly<br>
       <input type="radio" name="speed" value="0">be poor and good-looking<br>
       
       <h2> Would you rather... </h2>
         <input type="radio" name="prefer" value="1" >always say whats on your mind<br>
         <input type="radio" name="prefer" value="0">never speak again<br>
         
           <h2>Would you rather... </h2>
       <input type="radio" name="time" value="1">be the only one laughing when someone farts<br>
       <input type="radio" name="time" value="0">fart loudly and have everyone laugh at you<br>
 
       <h2>would you rather... </h2>
         <input type="radio" name="you_are" value="1" >begin every sentance with "Hey Idiot!"<br>
         <input type="radio" name="you_are" value="0">end every sentance with "...Ha ha I was just kidding."<br>
 
   <h2>would you rather... </h2>
         <input type="radio" name="bathroom" value="1" >go to the bathroom anywhere you want, but only outside<br>
         <input type="radio" name="bathroom" value="0">go to the bathroom in a giant litter box in your house<br>
 
     
         <button type = "submit" class="new"> You are... </button>
     </form>
   </div>
 </div>

 </body>
 </html>
 
 
 